# [shop]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [shop]    Script Date: 28.09.2022 5:41:40 ******/
CREATE DATABASE [shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [shop] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [shop] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [shop] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [shop] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [shop] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [shop] SET ARITHABORT OFF 
GO
ALTER DATABASE [shop] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [shop] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [shop] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [shop] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [shop] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [shop] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [shop] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [shop] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [shop] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [shop] SET  DISABLE_BROKER 
GO
ALTER DATABASE [shop] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [shop] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [shop] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [shop] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [shop] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [shop] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [shop] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [shop] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [shop] SET  MULTI_USER 
GO
ALTER DATABASE [shop] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [shop] SET DB_CHAINING OFF 
GO
ALTER DATABASE [shop] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [shop] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [shop] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [shop] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [shop] SET QUERY_STORE = OFF
GO

# [dbo].[Authorization]

In [0]:
USE [shop]
GO

In [0]:
/****** Object:  Table [dbo].[Authorization]    Script Date: 28.09.2022 5:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorization](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NULL,
	[Доступ] [nvarchar](50) NULL,
	[Почта] [nvarchar](50) NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
 CONSTRAINT [PK_Authorization] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Product]

In [0]:
/****** Object:  Table [dbo].[Product]    Script Date: 28.09.2022 5:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameManufacturer] [nchar](50) NULL,
	[WareMo] [int] NULL,
	[WareTu] [int] NULL,
	[WareWe] [int] NULL,
	[WareTh] [int] NULL,
	[WareFr] [int] NULL,
	[WareSa] [int] NULL,
	[WareSu] [int] NULL,
	[Gild] [nchar](50) NULL,
	[ProductType] [nchar](50) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Authorization]

In [0]:
SET IDENTITY_INSERT [dbo].[Authorization] ON 
INSERT [dbo].[Authorization] ([Код], [Логин], [Пароль], [Доступ], [Почта], [Фамилия], [Имя]) VALUES (1, N'K.Nat', N'12345678', N'Пользователь', N'Sinsai@mail.ru', N'Ковыль', N'Наталья')
INSERT [dbo].[Authorization] ([Код], [Логин], [Пароль], [Доступ], [Почта], [Фамилия], [Имя]) VALUES (2, N'Admin', N'6996', N'А', N'Adminiti@mail.ru', N'Серебряников', N'Виктор')
SET IDENTITY_INSERT [dbo].[Authorization] OFF
GO

# [dbo].[Product]

In [0]:
SET IDENTITY_INSERT [dbo].[Product] ON 
INSERT [dbo].[Product] ([Id], [NameManufacturer], [WareMo], [WareTu], [WareWe], [WareTh], [WareFr], [WareSa], [WareSu], [Gild], [ProductType], [Price]) VALUES (1, N'Филиппов Кирилл Анатольевич                       ', 5, 6, 3, 10, 7, 8, 4, N'Литьевой                                          ', N'Металл                                            ', 2000)
INSERT [dbo].[Product] ([Id], [NameManufacturer], [WareMo], [WareTu], [WareWe], [WareTh], [WareFr], [WareSa], [WareSu], [Gild], [ProductType], [Price]) VALUES (2, N'Арсеньева Галина Витальевна                       ', 19, 45, 36, 28, 44, 0, 0, N'Стеклодувочный                                    ', N'Посуда                                            ', 350)
INSERT [dbo].[Product] ([Id], [NameManufacturer], [WareMo], [WareTu], [WareWe], [WareTh], [WareFr], [WareSa], [WareSu], [Gild], [ProductType], [Price]) VALUES (3, N'Тигранов Жамиль Абдулаевич                        ', 8, 10, 9, 13, 6, 8, 0, N'Литьевой                                          ', N'Стройматериалы                                    ', 2400)
INSERT [dbo].[Product] ([Id], [NameManufacturer], [WareMo], [WareTu], [WareWe], [WareTh], [WareFr], [WareSa], [WareSu], [Gild], [ProductType], [Price]) VALUES (4, N'Викторов Виктор Васильевич                        ', 78, 93, 84, 83, 81, 78, 54, N'Стеклодувочный                                    ', N'Посуда                                            ', 200)
INSERT [dbo].[Product] ([Id], [NameManufacturer], [WareMo], [WareTu], [WareWe], [WareTh], [WareFr], [WareSa], [WareSu], [Gild], [ProductType], [Price]) VALUES (5, N'Иванов Сергей Петрович                            ', 89, 98, 77, 78, 86, 84, 91, N'Литьевой                                          ', N'Стройматериалы                                    ', 240)
INSERT [dbo].[Product] ([Id], [NameManufacturer], [WareMo], [WareTu], [WareWe], [WareTh], [WareFr], [WareSa], [WareSu], [Gild], [ProductType], [Price]) VALUES (6, N'Федощенко Кирилл Дмитриевич                       ', 67, 86, 76, 0, 97, 72, 45, N'Стеклодувочный                                    ', N'Декор                                             ', 500)
INSERT [dbo].[Product] ([Id], [NameManufacturer], [WareMo], [WareTu], [WareWe], [WareTh], [WareFr], [WareSa], [WareSu], [Gild], [ProductType], [Price]) VALUES (9, N'Викторова Кристина Геннадьевна                    ', 35, 39, 35, 36, 42, 40, 41, N'Стеклодувочный                                    ', N'стройматериалы                                    ', 489)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO

# [shop]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [shop] SET  READ_WRITE 
GO